<div>
    <h2>
        <span jhiTranslate="clothesApp.facturaPresupuesto.home.title">Factura Presupuestos</span>
        <button class="btn btn-primary float-right create-factura-presupuesto" [routerLink]="['/', { outlets: { popup: ['factura-presupuesto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clothesApp.facturaPresupuesto.home.createLabel">
            Create new Factura Presupuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="facturaPresupuestos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fecha"><span jhiTranslate="clothesApp.facturaPresupuesto.fecha">Fecha</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="formaPago"><span jhiTranslate="clothesApp.facturaPresupuesto.formaPago">Forma Pago</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="importeTotal"><span jhiTranslate="clothesApp.facturaPresupuesto.importeTotal">Importe Total</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clienteNombre"><span jhiTranslate="clothesApp.facturaPresupuesto.cliente">Cliente</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let facturaPresupuesto of facturaPresupuestos ;trackBy: trackId">
                <td><a [routerLink]="['../factura-presupuesto', facturaPresupuesto.id ]">{{facturaPresupuesto.id}}</a></td>
                <td>{{facturaPresupuesto.fecha | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'clothesApp.FormaPago.' + facturaPresupuesto.formaPago}}">{{facturaPresupuesto.formaPago}}</td>
                <td>{{facturaPresupuesto.importeTotal}}</td>
                <td>
                    <div *ngIf="facturaPresupuesto.clienteId">
                        <a [routerLink]="['../cliente', facturaPresupuesto.clienteId  ]" >{{facturaPresupuesto.clienteNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../factura-presupuesto', facturaPresupuesto.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'factura-presupuesto/'+ facturaPresupuesto.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'factura-presupuesto/'+ facturaPresupuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="facturaPresupuestos && facturaPresupuestos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
