
<div *ngIf="modeloEncargo">
    <h2><span jhiTranslate="clothesApp.modeloEncargo.detail.title">Modelo Encargo</span> {{modeloEncargo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="clothesApp.modeloEncargo.imagen">Imagen</span></dt>
        <dd>
            <div *ngIf="modeloEncargo.imagen">
                <a (click)="openFile(modeloEncargo.imagenContentType, modeloEncargo.imagen)">
                    <img [src]="'data:' + modeloEncargo.imagenContentType + ';base64,' + modeloEncargo.imagen" style="max-width: 100%;" alt="modeloEncargo image"/>
                </a>
                {{modeloEncargo.imagenContentType}}, {{byteSize(modeloEncargo.imagen)}}
            </div>
        </dd>
        <dt><span jhiTranslate="clothesApp.modeloEncargo.nombreModelo">Nombre Modelo</span></dt>
        <dd>
            <span>{{modeloEncargo.nombreModelo}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modeloEncargo.colorVestido">Color Vestido</span></dt>
        <dd>
            <span>{{modeloEncargo.colorVestido}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modeloEncargo.bordado">Bordado</span></dt>
        <dd>
            <span>{{modeloEncargo.bordado}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modeloEncargo.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{modeloEncargo.descripcion}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modeloEncargo.observacion">Observacion</span></dt>
        <dd>
            <span>{{modeloEncargo.observacion}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modeloEncargo.encargo">Encargo</span></dt>
        <dd>
            <div *ngIf="modeloEncargo.encargoId">
                <a [routerLink]="['/encargo', modeloEncargo.encargoId]">{{modeloEncargo.encargoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'modelo-encargo/'+ modeloEncargo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
