<div>
    <h2>
        <span jhiTranslate="clothesApp.modeloEncargo.home.title">Modelo Encargos</span>
        <button class="btn btn-primary float-right create-modelo-encargo" [routerLink]="['/', { outlets: { popup: ['modelo-encargo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clothesApp.modeloEncargo.home.createLabel">
            Create new Modelo Encargo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="modeloEncargos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imagen"><span jhiTranslate="clothesApp.modeloEncargo.imagen">Imagen</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreModelo"><span jhiTranslate="clothesApp.modeloEncargo.nombreModelo">Nombre Modelo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colorVestido"><span jhiTranslate="clothesApp.modeloEncargo.colorVestido">Color Vestido</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bordado"><span jhiTranslate="clothesApp.modeloEncargo.bordado">Bordado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="clothesApp.modeloEncargo.descripcion">Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observacion"><span jhiTranslate="clothesApp.modeloEncargo.observacion">Observacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="encargoId"><span jhiTranslate="clothesApp.modeloEncargo.encargo">Encargo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let modeloEncargo of modeloEncargos ;trackBy: trackId">
                <td><a [routerLink]="['../modelo-encargo', modeloEncargo.id ]">{{modeloEncargo.id}}</a></td>
                <td>
                    <a *ngIf="modeloEncargo.imagen" (click)="openFile(modeloEncargo.imagenContentType, modeloEncargo.imagen)">
                        <img [src]="'data:' + modeloEncargo.imagenContentType + ';base64,' + modeloEncargo.imagen" style="max-height: 30px;" alt="modeloEncargo image"/>
                    </a>
                    <span *ngIf="modeloEncargo.imagen">{{modeloEncargo.imagenContentType}}, {{byteSize(modeloEncargo.imagen)}}</span>
                </td>
                <td>{{modeloEncargo.nombreModelo}}</td>
                <td>{{modeloEncargo.colorVestido}}</td>
                <td>{{modeloEncargo.bordado}}</td>
                <td>{{modeloEncargo.descripcion}}</td>
                <td>{{modeloEncargo.observacion}}</td>
                <td>
                    <div *ngIf="modeloEncargo.encargoId">
                        <a [routerLink]="['../encargo', modeloEncargo.encargoId  ]" >{{modeloEncargo.encargoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../modelo-encargo', modeloEncargo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modelo-encargo/'+ modeloEncargo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modelo-encargo/'+ modeloEncargo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="modeloEncargos && modeloEncargos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
