<div>
    <h2>
        <span jhiTranslate="clothesApp.proveedor.home.title">Proveedors</span>
        <button class="btn btn-primary float-right jh-create-entity create-proveedor" [routerLink]="['/', { outlets: { popup: ['proveedor-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="clothesApp.proveedor.home.createLabel">
            Create new Proveedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'clothesApp.proveedor.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="proveedors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span jhiTranslate="clothesApp.proveedor.nombre">Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domicilio"><span jhiTranslate="clothesApp.proveedor.domicilio">Domicilio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telefono"><span jhiTranslate="clothesApp.proveedor.telefono">Telefono</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cuilCuit"><span jhiTranslate="clothesApp.proveedor.cuilCuit">Cuil Cuit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="clothesApp.proveedor.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="celular"><span jhiTranslate="clothesApp.proveedor.celular">Celular</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rubroNombre"><span jhiTranslate="clothesApp.proveedor.rubro">Rubro</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proveedor of proveedors ;trackBy: trackId">
                <td><a [routerLink]="['../proveedor', proveedor.id ]">{{proveedor.id}}</a></td>
                <td>{{proveedor.nombre}}</td>
                <td>{{proveedor.domicilio}}</td>
                <td>{{proveedor.telefono}}</td>
                <td>{{proveedor.cuilCuit}}</td>
                <td>{{proveedor.email}}</td>
                <td>{{proveedor.celular}}</td>
                <td>
                    <div *ngIf="proveedor.rubroId">
                        <a [routerLink]="['../rubro', proveedor.rubroId  ]" >{{proveedor.rubroNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../proveedor', proveedor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proveedor/'+ proveedor.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proveedor/'+ proveedor.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="proveedors && proveedors.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
