
<div *ngIf="empresa">
    <h2><span jhiTranslate="clothesApp.empresa.detail.title">Empresa</span> {{empresa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="clothesApp.empresa.nombre">Nombre</span></dt>
        <dd>
            <span>{{empresa.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.empresa.domicilio">Domicilio</span></dt>
        <dd>
            <span>{{empresa.domicilio}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.empresa.telefono">Telefono</span></dt>
        <dd>
            <span>{{empresa.telefono}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.empresa.categoria">Categoria</span></dt>
        <dd>
            <span>{{empresa.categoria}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.empresa.user">User</span></dt>
        <dd>
            {{empresa.userEmail}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'empresa/'+ empresa.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
