<div>
    <h2>
        <span jhiTranslate="clothesApp.modelo.home.title">Modelos</span>
        <button class="btn btn-primary float-right create-modelo" [routerLink]="['/', { outlets: { popup: ['modelo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clothesApp.modelo.home.createLabel">
            Create new Modelo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="modelos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imagen"><span jhiTranslate="clothesApp.modelo.imagen">Imagen</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreModelo"><span jhiTranslate="clothesApp.modelo.nombreModelo">Nombre Modelo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colorVestido"><span jhiTranslate="clothesApp.modelo.colorVestido">Color Vestido</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bordado"><span jhiTranslate="clothesApp.modelo.bordado">Bordado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="clothesApp.modelo.descripcion">Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observacion"><span jhiTranslate="clothesApp.modelo.observacion">Observacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="encargoId"><span jhiTranslate="clothesApp.modelo.encargo">Encargo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let modelo of modelos ;trackBy: trackId">
                <td><a [routerLink]="['../modelo', modelo.id ]">{{modelo.id}}</a></td>
                <td>
                    <a *ngIf="modelo.imagen" (click)="openFile(modelo.imagenContentType, modelo.imagen)">
                        <img [src]="'data:' + modelo.imagenContentType + ';base64,' + modelo.imagen" style="max-height: 30px;" alt="modelo image"/>
                    </a>
                    <span *ngIf="modelo.imagen">{{modelo.imagenContentType}}, {{byteSize(modelo.imagen)}}</span>
                </td>
                <td>{{modelo.nombreModelo}}</td>
                <td>{{modelo.colorVestido}}</td>
                <td>{{modelo.bordado}}</td>
                <td>{{modelo.descripcion}}</td>
                <td>{{modelo.observacion}}</td>
                <td>
                    <div *ngIf="modelo.encargoId">
                        <a [routerLink]="['../encargo', modelo.encargoId  ]" >{{modelo.encargoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../modelo', modelo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modelo/'+ modelo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modelo/'+ modelo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="modelos && modelos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
