<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myModeloLabel" jhiTranslate="clothesApp.modelo.home.createOrEditLabel">Create or edit a Modelo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!modelo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="modelo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clothesApp.modelo.imagen" for="field_imagen">Imagen</label>
            <div>
                <img [src]="'data:' + modelo.imagenContentType + ';base64,' + modelo.imagen" style="max-height: 100px;" *ngIf="modelo.imagen" alt="modelo image"/>
                <div *ngIf="modelo.imagen" class="form-text text-danger clearfix">
                    <span class="pull-left">{{modelo.imagenContentType}}, {{byteSize(modelo.imagen)}}</span>
                    <button type="button" (click)="modelo.imagen=null;modelo.imagenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, modelo, 'imagen', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                [(ngModel)]="modelo.imagen"
            required />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                [(ngModel)]="modelo.imagenContentType" />
            <div [hidden]="!(editForm.controls.imagen?.dirty && editForm.controls.imagen?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imagen?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clothesApp.modelo.nombreModelo" for="field_nombreModelo">Nombre Modelo</label>
            <input type="text" class="form-control" name="nombreModelo" id="field_nombreModelo"
                [(ngModel)]="modelo.nombreModelo"
            required />
            <div [hidden]="!(editForm.controls.nombreModelo?.dirty && editForm.controls.nombreModelo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreModelo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clothesApp.modelo.colorVestido" for="field_colorVestido">Color Vestido</label>
            <input type="text" class="form-control" name="colorVestido" id="field_colorVestido"
                [(ngModel)]="modelo.colorVestido"
            required />
            <div [hidden]="!(editForm.controls.colorVestido?.dirty && editForm.controls.colorVestido?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.colorVestido?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clothesApp.modelo.observacion" for="field_observacion">Observacion</label>
            <input type="text" class="form-control" name="observacion" id="field_observacion"
                [(ngModel)]="modelo.observacion"
            required />
            <div [hidden]="!(editForm.controls.observacion?.dirty && editForm.controls.observacion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.observacion?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="clothesApp.modelo.cliente" for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="modelo.clienteId"  required>
                <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.cliente?.dirty && editForm.controls.cliente?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.cliente?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
