
<div *ngIf="modelo">
    <h2><span jhiTranslate="clothesApp.modelo.detail.title">Modelo</span> {{modelo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="clothesApp.modelo.imagen">Imagen</span></dt>
        <dd>
            <div *ngIf="modelo.imagen">
                <a (click)="openFile(modelo.imagenContentType, modelo.imagen)">
                    <img [src]="'data:' + modelo.imagenContentType + ';base64,' + modelo.imagen" style="max-width: 100%;" alt="modelo image"/>
                </a>
                {{modelo.imagenContentType}}, {{byteSize(modelo.imagen)}}
            </div>
        </dd>
        <dt><span jhiTranslate="clothesApp.modelo.nombreModelo">Nombre Modelo</span></dt>
        <dd>
            <span>{{modelo.nombreModelo}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modelo.colorVestido">Color Vestido</span></dt>
        <dd>
            <span>{{modelo.colorVestido}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modelo.observacion">Observacion</span></dt>
        <dd>
            <span>{{modelo.observacion}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.modelo.cliente">Cliente</span></dt>
        <dd>
            <div *ngIf="modelo.clienteId">
                <a [routerLink]="['/cliente', modelo.clienteId]">{{modelo.clienteNombre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'modelo/'+ modelo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
